#misc ignore
.DS_Store

#latex ignore files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.xml
*.gz
*.out
Report.pdf
Source Code/ineqplot.m
Source Code/useless.m
Source Code/useless.m
*.asv
Source Code/michael_endemic.m
Latex/Figures/nash_2.png
Source Code/useless.m
Source Code/useless.m
Source Code/useless.m
Source Code/inequalityplot.m
